#navbar {
    background-color: #32DBF0;
}

h1 {
    color: #ffffff;
}

body {
    background-image: url("../assets/hexagons.jpeg");
    /*background-color: #272727;*/
}

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

